*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

nav a:hover{
    text-decoration: underline;
}

nav .left{
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: -20px;
}

nav .left img{
    flex: 1; 
}

nav .left input[type=text]{
    flex: 5; 
}

nav .left img{
    width: 100px;
    height: 30px;
}

nav input[type=button]{
    padding: 10px;
    border: none;
    color: white;
    background-color: #4285f4;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

main{
    margin: 1% 11%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 640px;
    min-height: calc(100vh - 135px);
}

.result a{
    font-size: 1.3em;
    color: #1A14C0;
    text-decoration: none;
}

.result a:hover{
    text-decoration: underline;
}

.result-links a{
    font-size: 1em;
    padding-right: 10px;
}

.result p{
    padding: 5px 0;
    font-size: 0.9em;
}

.result span{
    color: #5F6368;
}

.search-numbers{
    color: #788192;
    margin-bottom: 1%;
}

.links{
    margin-top: -1%;
    margin-bottom: 5px;
    margin-left: 10%;
}

.links a{
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
    padding-left: 20px;
}

.links span{
    padding:0 35px;
}

hr{
    border: 1px solid #cecece;
}

input[type=text]{
    width: 100%;
    height: 40px;
    border: 1px solid #cecece;
    border-radius: 50px;
    margin: 30px;
}

input[type=submit]{
    height: 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    color: #5F6368;
}

input[type=submit]:hover{
    border: 1px solid #cecece;
    color: black;
}

footer{
    display: flex;
    justify-content: space-between;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 1px solid #cecece;
    background-color: #f2f2f2;
    padding: 20px 10.5%;
}

footer a{
    text-decoration: none;
    margin: 0 10px;
    color: #5F6368;
}

footer a:hover{
    text-decoration: underline;
}